# venv
.venv/
venv/
ENV/

# junk
.DS_Store

# bytecode
__pycache__/
*.pyc

# Video files hidden 
data/*.mp4
data/*.mov
data/*.avi

# Hide CSV results (keep folder)
results/*.csv

# Show only plot images
!results/figures/
!results/figures/*.png

# YOLO cache
ultralytics/
